<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <style>
        .scrollbar-hide::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        .scrollbar-hide::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .scrollbar-hide::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        .scrollbar-hide::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body class="flex flex-col h-full w-full overflow-hidden">

    <div class="h-screen w-screen flex bg-gray-100">
        <!-- Container -->

        <aside class="flex flex-col items-center bg-white text-gray-700 shadow h-full w-1/8">
            <!-- Side Nav Bar-->

            <div class="h-16 flex items-center w-full">
                <!-- Logo Section -->
                <a class="mx-auto flex items-end">
                    <span class="text-2xl font-bold text-purple-600">P</span>
                    <span class="text-2xl font-bold text-purple-600 ml-0.1">P</span>
                </a>
            </div>

            <ul>
                <!-- Items Section -->
                <li class="hover:bg-gray-100">
                    <a href="." class="h-20 px-6 flex justify-center items-center w-full focus:text-orange-500">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 34 42.5"
                            stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"
                            xml:space="preserve">
                            <path
                                d="M15.5,13H1V1h14.5V13z M3,11h10.5V3H3V11z M15.5,33H1V16h14.5V33z M3,31h10.5V18H3V31z M33,18H18.5V1H33V18z M20.5,16H31V3  H20.5V16z M33,33H18.5V21H33V33z M20.5,31H31v-8H20.5V31z" />
                        </svg>
                    </a>
                </li>

                <li class="hover:bg-gray-100">
                    <a href="." class="h-20 px-6 flex justify-center items-center w-full focus:text-orange-500">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round">
                            <polyline points="17 1 21 5 17 9" />
                            <path d="M3 11V9a4 4 0 0 1 4-4h14" />
                            <polyline points="7 23 3 19 7 15" />
                            <path d="M21 13v2a4 4 0 0 1-4 4H3" />
                        </svg>
                    </a>
                </li>

                <li class="hover:bg-gray-100">
                    <a href="." class="h-16 px-6 flex justify-center items-center w-full focus:text-orange-500">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none">
                            <path d="M6 8H10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M22 10.5C22 10.4226 22 9.96726 21.9977 9.9346C21.9623 9.43384 21.5328 9.03496 20.9935 9.00214C20.9583 9 20.9167 9 20.8333 9H18.2308C16.4465 9 15 10.3431 15 12C15 13.6569 16.4465 15 18.2308 15H20.8333C20.9167 15 20.9583 15 20.9935 14.9979C21.5328 14.965 21.9623 14.5662 21.9977 14.0654C22 14.0327 22 13.5774 22 13.5"
                                stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                            <circle cx="18" cy="12" r="1" fill="#1C274C" />
                            <path
                                d="M13 4C16.7712 4 18.6569 4 19.8284 5.17157C20.6366 5.97975 20.8873 7.1277 20.965 9M10 20H13C16.7712 20 18.6569 20 19.8284 18.8284C20.6366 18.0203 20.8873 16.8723 20.965 15M9 4.00093C5.8857 4.01004 4.23467 4.10848 3.17157 5.17157C2 6.34315 2 8.22876 2 12C2 15.7712 2 17.6569 3.17157 18.8284C3.82475 19.4816 4.69989 19.7706 6 19.8985"
                                stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </a>
                </li>

                <li class="hover:bg-gray-100">
                    <a href="." class="h-16 px-6 flex justify-center items-center w-full focus:text-orange-500">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path
                                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                            </path>
                        </svg>
                    </a>
                </li>
            </ul>
        </aside>

       

        <section class="flex-grow p-5 overflow-auto scrollbar-hide">
            <div class="p-3 text-gray-600 dark:text-gray-300 outline-none focus:outline-none">
                
                <div class="relative flex">
                    <select 
                        class="bg-white dark:bg-gray-800 h-10 px-5 rounded-l-full text-sm focus:outline-none outline-none cursor-pointer max-h-10 overflow-y-hidden">
                        <option class="font-medium cursor-pointer" value="filter">Filter</option>
                    </select>
                    <input 
                        type="search" 
                        name="search"
                        placeholder="Search"
                        class="bg-white dark:bg-gray-800 h-10 flex px-5 w-1/4 rounded-r-full text-sm focus:outline-none"
                        autocomplete="off" 
                        spellcheck="false" 
                        required 
                        step="any" 
                        autocapitalize="none" 
                        autofocus />
                    <button 
                        type="submit" 
                        class="relative inset-y-0 right-12 flex items-center px-2">
                        <svg 
                            class="h-4 w-4 fill-current dark:text-white" 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" 
                            version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" 
                            xml:space="preserve" 
                            width="512px" 
                            height="512px">
                                <path
                                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                    </button>
                    
                </div>
            </div>
            <!-- Transactions Table -->
            <div class="overflow-x-auto">
                <table class="mt-4 min-w-full bg-white divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Category</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Location</th>
                        </tr>
                    </thead>
                    <tbody id="transaction-table-body" class="divide-y divide-gray-200">
                        <!-- Sample Transactions -->
                        <tr class="bg-gray-50">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="inline-block px-3 py-1 bg-pink-200 text-pink-800 rounded-full">Groceries</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">2023-01-01</td>
                            <td class="px-6 py-4 whitespace-nowrap text-green-500">$5000</td>
                            <td class="px-6 py-4 whitespace-nowrap text-green-500">Income</td>
                            <td class="px-6 py-4 whitespace-nowrap">Bingo doo</td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="inline-block px-3 py-1 bg-blue-200 text-blue-800 rounded-full">Healthcare</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">2023-01-02</td>
                            <td class="px-6 py-4 whitespace-nowrap text-red-500">-$150</td>
                            <td class="px-6 py-4 whitespace-nowrap text-red-500">Expense</td>
                            <td class="px-6 py-4 whitespace-nowrap">Al Hana</td>
                        </tr>
                        <!-- Add more transactions as needed -->
                    </tbody>
                </table>
            </div>
        </section>
        </main>
    </div>

</body>

</html>
