<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <style>
        .scrollbar-hide::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        .scrollbar-hide::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .scrollbar-hide::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        .scrollbar-hide::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body class="flex flex-col h-full w-full overflow-hidden">

    <div class="h-screen w-screen flex bg-gray-100">
        <!-- Container -->

        {{template "menu.html"}}

        <section class="flex-grow p-5 overflow-auto scrollbar-hide ">
            <div class="p-3 text-gray-600 dark:text-gray-300 outline-none focus:outline-none w-full md:w-2/3">
                <div class="relative flex flex-col md:flex-row rounded-l-full w-full space-y-3 md:space-y-0">
                    <div class="flex items-center h-10 px-6 text-sm">
                        <span>Show</span>
                    </div>
                    <select id="category-filter" class="bg-white shadow h-10 px-6 rounded-full text-sm focus:outline-none cursor-pointer max-h-10 overflow-y-hidden">
                        <option class="font-medium cursor-pointer" value="all">All</option>
                        <!-- Add other category options here -->
                        <option value="transport">Transport</option>
                        <option value="groceries">Groceries</option>
                        <option value="healthcare">Healthcare</option>
                        <option value="clothing">Clothing</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="dining">Dining</option>
                        <option value="utilities">Utilities</option>
                        <option value="transfer">Transfer</option>
                    </select>
                    <div class="flex items-center h-10 px-6 text-sm">
                        <span>from</span>
                    </div>
                    <input 
                        type="date" 
                        id="from-date"
                        name="from_date"
                        class="shadow bg-white h-10 flex px-5 w-full md:w-40 rounded-full text-sm focus:outline-none"
                        required 
                        autocapitalize="none" 
                    />
                    <div class="flex items-center h-10 px-6 text-sm">
                        <span>to</span>
                    </div>
                    <input 
                        type="date" 
                        id="to-date"
                        name="to_date"
                        class="shadow bg-white h-10 flex px-5 w-full md:w-40 rounded-full text-sm focus:outline-none"
                        required 
                        autocapitalize="none" 
                    />
                </div>
            </div>
            
            <!-- Transactions Table -->
            <div class="overflow-x-auto rounded shadow m-2 h-5/6">
                <table class="min-w-full bg-white divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Category</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Location</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Card ID</th>
                        </tr>
                    </thead>
                    <tbody id="transaction-table-body" class="divide-y divide-gray-200">
                        {{range .Transactions}}
                        <tr class="bg-gray-50">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="inline-block px-3 py-1 
                                {{if eq .ExpenseCategory "transport"}}bg-blue-200 text-blue-800 
                                {{else if eq .ExpenseCategory "groceries"}}bg-yellow-200 text-yellow-800 
                                {{else if eq .ExpenseCategory "healthcare"}}bg-purple-200 text-purple-800 
                                {{else if eq .ExpenseCategory "clothing"}}bg-pink-200 text-pink-800 
                                {{else if eq .ExpenseCategory "entertainment"}}bg-blue-200 text-blue-800 
                                {{else if eq .ExpenseCategory "dining"}}bg-green-200 text-green-800 
                                {{else if eq .ExpenseCategory "utilities"}}bg-orange-200 text-orange-800 
                                {{else if eq .ExpenseCategory "transfer"}}bg-red-200 text-red-800 
                                {{else}}bg-gray-200 text-gray-800{{end}} rounded-full">
                                    {{.ExpenseCategory}}
                                </span>
                            </td>
                            
                            <td class="px-6 py-4 whitespace-nowrap time">{{.Time}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{.Location}}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-lg font-medium {{if eq .TransactionType "expense"}}text-red-500{{else}}text-green-500{{end}}">
                                {{if eq .TransactionType "expense"}}-{{else}}+{{end}}{{.Amount | printf "%.2f"}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-600">{{.CardId}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const categoryFilter = document.getElementById('category-filter');
            const tableBody = document.getElementById('transaction-table-body');
            const rows = Array.from(tableBody.getElementsByTagName('tr'));
    
            function filterTable() {
                const selectedCategory = categoryFilter.value;
    
                rows.forEach(row => {
                    const categorySpan = row.querySelector('td .inline-block');
                    const category = categorySpan ? categorySpan.textContent.trim() : '';
                    const isCategoryMatch = selectedCategory === 'all' || category === selectedCategory;
    
                    if (isCategoryMatch) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }
    
            categoryFilter.addEventListener('change', filterTable);
            fromDateInput.addEventListener('change', filterTable);
            toDateInput.addEventListener('change', filterTable);
        });
    </script>
    

</body>

</html>
